html {
  background-color: #aaff015d;
  /* background-image: url(https://www.color-hex.com/palettes/96986.png); */
  background-size: cover;
  width: auto;
  z-index: -1;
  background-repeat: no-repeat;
  height: max-content;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  width: 100px;
  height: 150px;
}

th {
  border: 4px solid #ffaa0169;
  background-color: #ffaa0169;
  margin: 10px;
}

tr {
  border: 4px solid #ffaa0169;
  padding: 10px;
}

.artistsTable {

  display: flex;
  position: relative;
  flex-direction: column;
}

.tableHeader {
  display: flex;
  position: relative;
  padding: 10px;
  margin: 10px;
  gap: 50px;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1280px; */
  flex-wrap: wrap;
  position: relative;
  gap: 50px;
}


.imageOfNomination {
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;

}



.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.responsiveButtons {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 200px;


}

.responsivebtn {
  padding: 20px;
  background-color: #aa00ffb7;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

.actorName {
  display: flex;
  /* padding: 30px; */
  width: auto;
  position: relative;
  justify-content: center;
  right: 60px;
}

.actorPopularity {

  position: relative;
  right: 70px;
  display: flex;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}



.tableStyling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.imageOfOscar {
  display: flex;
  align-items: center;
  position: relative;
  right: 70px;
}


.delete-btn {
  padding: 20px;
  background-color: #aa00ffb7;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: white
}